@charset "UTF-8";
a:link {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: white;
}

/*Mise en page de l'en-tête*/
header {
  width: 100%;
  height: 200px;
  background-color: #579C87;
  margin-bottom: 100px;
}

header h1 {
  color: #e5c54f;
  font-family: 'Rubik', sans-serif;
  font-size: 60px;
  text-align: center;
  margin: auto;
  padding-top: 70px;
}

/*Pied de page avec deux boutons effets "wiggle"*/
footer {
  width: 100%;
  height: 100px;
  background-color: #579C87;
  position: fixed;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h4 {
  display: block;
  color: #e5c54f;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

footer h4:hover {
  animation: shake 150ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation: shake 150ms infinite;
}

@-webkit-keyframes shake {
  0% {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
  }
}

/* Section princpale et titre du menu 2*/
main {
  margin-bottom: 200px;
}

main h1 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 3rem;
  text-align: center;
  margin: auto;
}

section {
  background-color: #fff5fe;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  /*Mise en page du 1er article: entrée avec le titre et images côtés*/
  /*Mise en page du 2e article: plats (titre+images côtés)*/
  /*Mise en page du 3e article: Desserts (titre)*/
}

section h2 {
  font-family: 'Croissant One', cursive;
  font-size: 4rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #e2943f, #bc7b9c, #905cff);
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

section .Entrée {
  margin-bottom: 20px;
  margin-top: 100px;
  /*Corps des entrées*/
}

section .Entrée .Titre {
  width: 90%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

section .Entrée .menuba1 img {
  width: 110%;
  height: 100%;
}

section .Entrée .menuba2 img {
  width: 135%;
  height: 100%;
  margin-right: -60px;
}

section .Entrée h3 {
  text-align: center;
  margin: auto;
  font-family: 'Roboto Slab', serif;
  color: #e2943f;
  font-size: 1.5rem;
  padding-left: 50px;
}

section .Entrée .intitule {
  width: 70%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .Entrée .intitule .description {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  color: #e2943f;
}

section .Entrée .intitule .prix {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  color: #e2943f;
  position: absolute;
  right: 25%;
}

section .Plat {
  margin-bottom: 20px;
  /*Corps des plats*/
}

section .Plat .Titre {
  width: 90%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

section .Plat .menubb1 img {
  width: 120%;
  height: 80%;
}

section .Plat .menubb2 img {
  width: 135%;
  height: 80%;
  margin-right: -60px;
}

section .Plat h3 {
  text-align: center;
  margin: auto;
  font-family: 'Roboto Slab', serif;
  color: #bc7b9c;
  font-size: 1.5rem;
  padding-left: 60px;
}

section .Plat .intitule {
  width: 85%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .Plat .intitule .description {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  color: #bc7b9c;
}

section .Plat .intitule .prix {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  color: #bc7b9c;
  position: absolute;
  right: 25%;
}

section .Dessert {
  margin-bottom: 20px;
  /*Corps des desserts*/
}

section .Dessert .Titre {
  width: 90%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

section .Dessert .Titre .menubc1 img {
  width: 125%;
  height: 80%;
}

section .Dessert .Titre .menubc2 img {
  width: 130%;
  height: 80%;
  margin-right: -60px;
}

section .Dessert .Titre h3 {
  text-align: center;
  margin: auto;
  font-family: 'Roboto Slab', serif;
  color: #905cff;
  font-size: 1.5rem;
  padding-left: 100px;
}

section .Dessert .description {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  color: #905cff;
  margin-left: 130px;
  padding-bottom: 50px;
}

/*Animation titre souligné de gauche à droite*/
h3 {
  cursor: pointer;
}

h3:hover:after {
  width: 25%;
  left: 37%;
}

h3:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 4px;
  left: 37%;
  position: absolute;
  background-image: -webkit-linear-gradient(left, #e2943f, #bc7b9c, #905cff);
  -webkit-transition: width 1s ease 0s, right 0.5s ease 0s;
  transition: width 1s ease 0s, right 0.5s ease 0s;
  width: 0;
}

/*Sites sur tablette*/
@media all and (max-width: 1024px) {
  section {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  section .Entrée .intitule {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
  }
  section .Entrée .intitule .description {
    width: 90%;
  }
  section .Plat .description {
    margin-left: 5%;
  }
  section .prix {
    margin-right: -15%;
  }
  section .Dessert .description {
    margin-left: 5%;
  }
  section footer h4 {
    font-size: 20px;
  }
  h3 {
    cursor: pointer;
  }
  h3:hover:after {
    width: 24%;
    left: 40%;
  }
  h3:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 4px;
    left: 40%;
    position: absolute;
    background-image: -webkit-linear-gradient(left, #e2943f, #bc7b9c, #905cff);
    -webkit-transition: width 1s ease 0s, right 0.5s ease 0s;
    transition: width 1s ease 0s, right 0.5s ease 0s;
    width: 0;
  }
}

/* Site responsive smartphone*/
@media all and (max-width: 700px) {
  .menuba1, .menuba2, .menubb1, .menubb2, .menubc1, .menubc2 {
    display: none;
  }
  header h1 {
    font-size: 30px;
  }
  footer h4 {
    font-size: 20px;
  }
  section {
    width: 100%;
  }
  section h2 {
    font-size: 40px;
  }
  section .Entrée .Titre {
    width: 100%;
  }
  section .Entrée .Titre h3 {
    padding-right: 10%;
  }
  section .Plat .Titre {
    width: 100%;
  }
  section .Plat .Titre h3 {
    padding-right: 10%;
  }
  section .Plat .intitule {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section .Dessert .Titre {
    width: 100%;
  }
  section .Dessert .Titre h3 {
    padding-right: 18%;
  }
  section .description p {
    width: 80%;
    font-size: 10px;
  }
  section .prix p {
    width: 10%;
    font-size: 15px;
    margin-right: -150px;
  }
}

/*Sites pour grands écrans 4K*/
@media all and (min-width: 1500px) and (max-width: 2300px) {
  header {
    height: 250px;
  }
  footer {
    height: 200px;
  }
  section h2 {
    font-size: 5rem;
  }
  section .Entrée .Titre h3 {
    font-size: 40px;
  }
  section .Entrée .description {
    margin-right: 120px;
  }
  section .Entrée .prix {
    margin-right: -150px;
  }
  section .Plat .Titre h3 {
    font-size: 40px;
  }
  section .Plat .intitule .prix {
    margin-right: -150px;
  }
  section .Dessert .Titre h3 {
    font-size: 40px;
  }
  section .Dessert .description p {
    margin-left: -30px;
  }
  section .description p {
    font-size: 40px;
  }
  section .prix p {
    font-size: 45px;
  }
  section h3 {
    cursor: pointer;
  }
  section h3:hover:after {
    width: 27%;
    left: 35%;
  }
  section h3:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 4px;
    left: 35%;
    position: absolute;
    background-image: -webkit-linear-gradient(left, #e2943f, #bc7b9c, #905cff);
    -webkit-transition: width 1s ease 0s, right 0.5s ease 0s;
    transition: width 1s ease 0s, right 0.5s ease 0s;
    width: 0;
  }
}
/*# sourceMappingURL=menub.css.map */