a:link 
{ 
text-decoration:none; 
} 
body{
    background-color: white;
    margin:0;
}
/*En tête*/
header{
    width: 100%;
    height: 200px;
    background-color: #579C87;
    h1{
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 60px;
        text-align: center;
        margin: auto;
        padding-top: 70px;

    } 
}
/*Pied de page*/
footer{
    width: 100%;
    height: 100px;
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    h4{
        display: block;
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        padding-right: 20px;
        padding-left: 20px;
        cursor: pointer;
        &:hover{
            animation: shake 150ms infinite;
            animation-timing-function: linear;
            -webkit-animation: shake 150ms infinite;
}
          
          @keyframes shake {
            0% { transform: rotate(2deg); -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); }
            50% { transform: rotate(-2deg); -webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg); -ms-transform: rotate(-2deg); -o-transform: rotate(-2deg); }
            100% { transform: rotate(2deg); -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); }
          }
      }
}

/*Section principale avec titre du menu 1*/
main{
    h1{
        padding-top: 50px;
        padding-bottom: 30px;
        font-family: 'Source Sans Pro', sans-serif;
        color: black;
        font-size: 3rem;
        text-align: center;
        margin: auto;

    }
    margin-bottom: 150px;
}
section{
    background-color: #fcdfdb;
    width: 80%;
    justify-content: center;
    margin: auto;
    padding-bottom: 100px;

.fa-music{
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    font-size: 5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(right, #f39c7d, #f1585d, #f15c61)

}
h2{
    font-family: 'Devonshire',sans-serif;
    font-size: 5rem;
    color: #3d1319;
    text-align: center;
    margin: auto;
}
}
/*Mise en page des différents articles: titres et images côtés*/
.Entrée, .Plat, .Dessert{
    width: 80%;
    margin-bottom: 20px;
    margin-left: 40px;
    h3{
        font-family: 'Architects Daughter', cursive;
        font-size: 2rem;
        text-align: center;
        margin: auto;
        padding-left: 130px;
        
    }
}
.Entrée{
.Titre{
    width: 105%;
    display: inline-flex;
    margin-top: 50px;
    justify-content: space-around;
    margin-bottom: 30px;

    .menua1 img{
       width: 140%;
       margin-right: 5%;
}
    .menua2 img{
       width: 140%;
       height: 60%;
       margin-top: 10px;
}
}
}
.Plat{
    .Titre{
        width: 105%;
        display: inline-flex;
        margin-top: 50px;
        justify-content: space-around;
        margin-bottom: 30px;
    
        .menua1 img{
           width: 140%;
    }
        .menua2 img{
           width: 140%;
           height: 30%;
           margin-top: 15px;
    }
    }
}
.Dessert{
    .Titre{
        width: 105%;
        display: inline-flex;
        margin-top: 50px;
        justify-content: space-around;
        margin-bottom: 30px;
    
        .menua1 img{
           width: 140%;
    }
        .menua2 img{
           width: 140%;
           height: 30%;
           margin-top: 15px;
    }
    }
}

  

/*Corps des articles: même configuration*/
.intitule{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

    .description{
        display: block;
        font-family: 'Architects Daughter', cursive;
        font-size: 30px;
        color: #3d1319;

    }
    .prix{
        display: block;
        font-family: 'Architects Daughter', cursive;
        font-size: 30px;
        font-weight: bold;
        color: #3d1319;
        position: absolute;
        right: 180px;

    
    }
/* Bas de page menu1 avec la note de musique*/
    h5{
        display: inline-flex;
        font-family: 'Devonshire', sans-serif;
        font-size: 3rem;
        color: #3d1319;
        width: 70%;
        text-align: center;
        margin: auto;
        padding-bottom: 100px;

    .fa-music {
        display: block;
        font-size: 4rem;
        margin-top: -20px;
        margin-right: 15px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient (right, #f39c7d, #f1585d, #f15c61);
}
    }
    /* Animation titre souligné de gauche à droite*/
h3{
    cursor: pointer;
    &:hover{

        &:after {
          width:10%;
          left: 52%;
        }}
        &:after {
          background: none repeat scroll 0 0 transparent;
          content: "";
          display: block;
          height: 4px;
          left: 52%;
          position: absolute;
          background: #3d1319;
          transition: width 1s ease 0s, right 0.5s ease 0s;
          width: 0;
        }
      }

/* Mise en page du responsive tablette*/
@media all and (max-width:1024px){
    section{
        width: 100%;
        margin: 0;
        justify-content: center;
        padding-bottom: 50px;
    }
    
    .Titre{
        h3{
        font-size: 30px;
        margin-right: 60px;
        }
    .menua1 img{
        margin-top: 15px;
    }
    .menua2 img{
        height: 10%;
        margin-bottom: 10px;
    }
}
    .description{
        width: 80%;
    }
    .prix{
        p{
            margin-top: 60px;
        }
    }
    .Pied{
        width: 100%;
        justify-content: center;
        margin: auto;
        padding-bottom: 100px;
    }

}
h5{
    padding-top: 15%;
    padding-bottom: 0px;
}
h3{
    cursor: pointer;
    &:hover{

        &:after {
          width:20%;
          left: 40%;
        }}
        &:after {
          background: none repeat scroll 0 0 transparent;
          content: "";
          display: block;
          height: 4px;
          left: 40%;
          position: absolute;
          background: #3d1319;
          transition: width 1s ease 0s, right 0.5s ease 0s;
          width: 0;
        }
      }
/* Responsive smartphone*/
@media all and (max-width:700px){
    header{
        h1{
            font-size: 30px;

    }
}
footer{
    h4{
        font-size: 20px;
    }
}
section{
    .fa-music{
        font-size: 50px;
    }
h2{
    font-size: 50px;
}
}
    .Titre{
        width: 100%;
        .menua1, .menua2{
        display: none;
    }
    h3{
        width: 100%;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    }
    .description{
        p{
            font-size: 10px;
        }
    }
    .prix{
        right: 10%;
        p{
            font-size: 15px;
            margin-top: 10px;
        }
    }
    .Pied{
        width: 80%;
        text-align: center;
        margin: auto;
        padding-bottom: 0px;
        .fa-music{
            font-size: 20px;
        }
        h5{
        font-size: 20px;
    }
}
h3{
    cursor: pointer;
    &:hover{

        &:after {
          width:23%;
          left: 40%;
        }}
        &:after {
          background: none repeat scroll 0 0 transparent;
          content: "";
          display: block;
          height: 4px;
          left: 40%;
          position: absolute;
          background: #3d1319;
          transition: width 1s ease 0s, right 0.5s ease 0s;
          width: 0;
        }
      }  
}
/*Site grands écrans 4K*/
@media all and (min-width:1500px) and (max-width:2300px)
{   section{
    h2{
        font-size: 5rem;
    }
}
     header{
        height: 250px;
    }
    footer{
        height: 200px;
    }
   
    .prix{
        padding-right: 120px;
    }
    .intitule{
        .description{
            font-size: 40px;
        }
        .prix{
            font-size: 45px;
        }
    }
        .description{
            font-size: 40px;
        }
        .Titre{
            h3{
                font-size: 40px;
            }
        }
        h5{
            margin-bottom: 100px;
        }
        h3{
            cursor: pointer;
            &:hover{
        
                &:after {
                  width:15%;
                  left: 40%;
                }}
                &:after {
                  background: none repeat scroll 0 0 transparent;
                  content: "";
                  display: block;
                  height: 4px;
                  left: 40%;
                  position: absolute;
                  background: #3d1319;
                  transition: width 1s ease 0s, right 0.5s ease 0s;
                  width: 0;
                }
              }  
}
