a:link 
{ 
text-decoration:none; 
} 
body{
    margin: 0;
    background-color: white;
}
/*Mise en page de l'en-tête*/
header{
    width: 100%;
    height: 200px;
    background-color: #579C87;
    margin-bottom: 100px;
    h1{
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 60px;
        text-align: center;
        margin: auto;
        padding-top: 70px;

    } 
}
/*Pied de page avec deux boutons effets "wiggle"*/
footer{
    width: 100%;
    height: 100px;
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    h4{
        display: block;
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        padding-right: 20px;
        padding-left: 20px;
        cursor: pointer;
        &:hover{
            animation: shake 150ms infinite;
            animation-timing-function: linear;
            -webkit-animation: shake 150ms infinite;
}
          
          @keyframes shake {
            0% { transform: rotate(2deg); -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); }
            50% { transform: rotate(-2deg); -webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg); -ms-transform: rotate(-2deg); -o-transform: rotate(-2deg); }
            100% { transform: rotate(2deg); -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); }
          }
      }
  }
/* Section princpale et titre du menu 2*/
main{
    h1{
        padding-top: 50px;
        padding-bottom: 30px;
        font-family: 'Source Sans Pro', sans-serif;
        color: black;
        font-size: 3rem;
        text-align: center;
        margin: auto;

    }
    margin-bottom: 200px;
}
section{
    background-color: #fff5fe ;
    width: 80%;
    justify-content: center;
    margin: auto;

    h2{
        font-family:'Croissant One', cursive;
        font-size: 4rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left,#e2943f, #bc7b9c, #905cff);
        text-align: center;
        margin: auto;
        padding-top: 50px;
    }
/*Mise en page du 1er article: entrée avec le titre et images côtés*/
    .Entrée{
        margin-bottom: 20px;
        margin-top: 100px;
        .Titre{
        width: 90%;
        display: inline-flex;
        margin-top: 50px;
        justify-content: space-around;
        margin-bottom: 30px;
}
        .menuba1 img{
            width: 110%;
            height: 100%;
}
        .menuba2 img{
            width: 135%;
            height: 100%;
            margin-right: -60px;
}
        h3{
        text-align: center;
        margin: auto;
        font-family:  'Roboto Slab', serif;
        color: #e2943f;
        font-size: 1.5rem;
        padding-left: 50px;
    }

/*Corps des entrées*/
.intitule{
    width: 70%;
    display: inline-flex;
    justify-content: space-around;

        .description{
            font-family:'Roboto Slab', serif;
            font-size: 1.5rem;
            color: #e2943f;
        }
        .prix{
            font-family: 'Roboto Slab', serif;
            font-size: 1.5rem;
            color: #e2943f;
            position: absolute;
            right: 25%;
        }
    }
    }
/*Mise en page du 2e article: plats (titre+images côtés)*/
    .Plat{
        margin-bottom: 20px;
        .Titre{
            width: 90%;
            display: inline-flex;
            margin-top: 50px;
            justify-content: space-around;
            margin-bottom: 30px;
        }
        .menubb1 img{
            width: 120%;
            height: 80%;
}
        .menubb2 img{
           width: 135%;
           height: 80%;
           margin-right: -60px;
}
        h3{
            text-align: center;
            margin: auto;
            font-family:  'Roboto Slab', serif;
            color: #bc7b9c;
            font-size: 1.5rem;
            padding-left: 60px;

        }
/*Corps des plats*/
.intitule{
    width: 85%;
    display: inline-flex;
    justify-content: space-around;
        .description{
            font-family:'Roboto Slab', serif;
            font-size: 1.5rem;
            color: #bc7b9c;
        }
        .prix{
            font-family: 'Roboto Slab', serif;
            font-size: 1.5rem;
            color: #bc7b9c;
            position: absolute;
            right: 25%;
        }
    }
    }
/*Mise en page du 3e article: Desserts (titre)*/
    .Dessert{
        margin-bottom: 20px;
        .Titre{
            width: 90%;
            display: inline-flex;
            margin-top: 50px;
            justify-content: space-around;
            margin-bottom: 30px;
            .menubc1 img{
                width: 125%;
                height: 80%;
}
            .menubc2 img{
                width: 130%;
                height: 80%;
                margin-right: -60px;
}
            h3{
                text-align: center;
                margin: auto;
                font-family:  'Roboto Slab', serif;
                color: #905cff;
                font-size: 1.5rem;
                padding-left: 100px;
            }
        }
/*Corps des desserts*/
            .description{
                font-family:'Roboto Slab', serif;
                font-size: 1.5rem;
                color: #905cff;
                margin-left: 130px;
                padding-bottom: 50px;
        }
    }
}
/*Animation titre souligné de gauche à droite*/
h3{
    cursor: pointer;
    &:hover{

        &:after {
          width:25%;
          left:37%;
        }}
        &:after {
          background: none repeat scroll 0 0 transparent;
          content: "";
          display: block;
          height: 4px;
          left: 37%;
          position: absolute;
          background-image: -webkit-linear-gradient(left,#e2943f, #bc7b9c, #905cff);
          transition: width 1s ease 0s, right 0.5s ease 0s;
          width: 0;
        }
      }
    
/*Sites sur tablette*/
@media all and (max-width:1024px){
    section{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    .Entrée{
        .intitule{
            width: 100%;
            display: inline-flex;
            justify-content: space-around;
            margin:auto;
            .description{
                width: 90%;
            }
        }
    }
    .Plat{
        .description{
            margin-left: 5%;
        }
    }
      .prix{
            margin-right: -15%;
        }
        .Dessert{
            .description{
                margin-left: 5%;
            }
        }
        footer{
            h4{
                font-size: 20px;
            }
        }
}h3{
    cursor: pointer;
    &:hover{

        &:after {
          width:24%;
          left:40%;
        }}
        &:after {
          background: none repeat scroll 0 0 transparent;
          content: "";
          display: block;
          height: 4px;
          left: 40%;
          position: absolute;
          background-image: -webkit-linear-gradient(left,#e2943f, #bc7b9c, #905cff);
          transition: width 1s ease 0s, right 0.5s ease 0s;
          width: 0;
        }
      }
}
/* Site responsive smartphone*/
@media all and (max-width:700px)
{
    .menuba1, .menuba2, .menubb1, .menubb2, .menubc1, .menubc2{
        display: none;
    }
    header{
        h1{
            font-size: 30px;

    }
}
    footer{
        h4{
        font-size: 20px;
    }
}
    section{
        width: 100%;
        h2{
            font-size: 40px;
        }
    .Entrée{
        .Titre{
            width: 100%;

        h3{
        
           padding-right: 10%;
        }
    }
}
    .Plat{
    .Titre{
        width: 100%;
    h3{
        padding-right: 10%;
        
    }
}
.intitule{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
    }
    .Dessert{
        .Titre{
            width: 100%;
            h3{
                padding-right: 18%;
            }
        }
    }


.description{
    p{
        width: 80%;
        font-size: 13px;
        margin-top: 15px;
}
}
.prix{
    p{
        width: 10%;
        font-size: 15px;
        margin-top: 20px;
        margin-right: -150px;
    }
}
}
}
/*Sites pour grands écrans 4K*/
@media all and (min-width:1500px) and (max-width:2300px)
{
    header{
        height: 250px;
    }
    footer{
        height: 200px;
    }
    section{
    h2{
        font-size: 5rem;
    }
    .Entrée{
        .Titre{
            h3{
                font-size: 40px;
            }
        }
        .description{
            margin-right: 120px;
        }
        .prix{
            margin-right: -150px;
        }
    }
    .Plat{
        .Titre{
            h3{
                font-size: 40px;
            }
        }
        .intitule{
        .prix{
            margin-right: -150px;
        }
    }
    }
    .Dessert{
        .Titre{
            h3{
                font-size: 40px;
            }
        }
        .description{
            width:100%;
            p{
                justify-content: left;
                margin-left: -7%;
            }
        }
    }

        .description{
            p{
            font-size: 40px;
        }}
        .prix{
            p{
            font-size:45px;
        }}
    
        h3{
            cursor: pointer;
            &:hover{
        
                &:after {
                  width:27%;
                  left:35%;
                }}
                &:after {
                  background: none repeat scroll 0 0 transparent;
                  content: "";
                  display: block;
                  height: 4px;
                  left: 35%;
                  position: absolute;
                  background-image: -webkit-linear-gradient(left,#e2943f, #bc7b9c, #905cff);
                  transition: width 1s ease 0s, right 0.5s ease 0s;
                  width: 0;
                }
              }        

}
}


