a:link 
{ 
text-decoration:none; 
} 
body{
    margin: 0;
    background-color: #edefef;
}
/* En tête*/
header{
    width: 100%;
    height: 200px;
    background-color: #579C87;
    margin-bottom: 80px;
    h1{
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 60px;
        text-align: center;
        margin: auto;
        padding-top: 70px;

    } 
}
/* Pied de page*/
footer{
    width: 100%;
    height: 100px;
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    h4{
        display: block;
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        padding-right: 20px;
        padding-left: 20px;
        cursor: pointer;
        &:hover{
            animation: shake 100ms infinite;
            animation-timing-function: linear;
            -webkit-animation: shake 100ms infinite;
  }
          
          @keyframes shake {
            0% { transform: rotate(1deg); -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg); -ms-transform: rotate(1deg); -o-transform: rotate(1deg); }
            50% { transform: rotate(-1deg); -webkit-transform: rotate(-1deg); -moz-transform: rotate(-1deg); -ms-transform: rotate(-1deg); -o-transform: rotate(-1deg); }
            100% { transform: rotate(1deg); -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg); -ms-transform: rotate(1deg); -o-transform: rotate(1deg); }
          }
      }
    }
/* Section principale avec les différents articles+ titre du menu*/
section{
    width: 90%;
    justify-content: center;
    margin-bottom: 200px;
    margin-left: 90px;
    h2{
        font-family: 'Dancing Script', cursive;
        font-size: 6rem;
        color:#0082fb;
        text-align: center;
        margin: auto;
    }
/* Mise en place des articles: titre et images (même configuration pour chaque article)*/
    .Entrée, .Plat, .Dessert {
        width: 90%;
        margin-top: 20px;

    }
    .Titre{
        display: inline-flex;
        justify-content: space-between;
        margin-top: 70px;
        margin-bottom: 30px;

        .menuc1 img{
            width: 130%;
            height: 110%;
}
        .menuc2 img{
            width: 130%;
            height: 85%;
            margin-top: 5px;
        }
        h3{
            text-align: center;
            margin: auto;
            font-family: 'Shadows Into Light Two', cursive;
            color: black;
            font-size: 1.5rem;
            padding-left: 145px;
            padding-right: 50px;
        }
    }
/*Corps des articles*/
.intitule{
    width: 80%;
    display: inline-flex;
    justify-content: space-around;
    .description{
        font-family:'Shadows Into Light Two', cursive;
        font-size: 1.7rem;
        color: black;
    }
    .prix{
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 1.7rem;
        color: black;
        position: absolute;
        right: 20%;
    }
}
/* Corps dessert*/
.intitulec{
    width: 53%;
    display: inline-flex;
    justify-content: space-around;
    .description{
        font-family:'Shadows Into Light Two', cursive;
        font-size: 1.7rem;
        color: black;
    }
    .prix{
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 1.7rem;
        color: black;
        position: absolute;
        right: 20%;
}
}
}
h3{
    cursor: pointer;
    &:hover{

        &:after {
          width:20%;
          left:38%;
        }}
        &:after {
          background: none repeat scroll 0 0 transparent;
          content: "";
          display: block;
          height: 4px;
          left: 38%;
          position: absolute;
          background: #0082fb;
          transition: width 1s ease 0s, right 0.5s ease 0s;
          width: 0;
        }
      }
/* Site responsive tablettes*/
@media all and (max-width:1024px)
{
    .menuc1, .menuc2{
        height: 70%;
    }
    section{
        margin-left: 5%;
        .intitulec{
            width: 45%;
        }

        h3{
            cursor: pointer;
            &:hover{
        
                &:after {
                  width:30%;
                  left:38%;
                }}
                &:after {
                  background: none repeat scroll 0 0 transparent;
                  content: "";
                  display: block;
                  height: 4px;
                  left: 38%;
                  position: absolute;
                  background: #0082fb;
                  transition: width 1s ease 0s, right 0.5s ease 0s;
                  width: 0;
                }
              }
        .prix{
            p{
                margin-top: 40px;
            }
        }

    }
}
/*Site responsive smartphone*/
@media all and(max-width:700px){
    .menuc1, .menuc2{
        display: none;
    }
    header{
        h1{
            font-size: 30px;

    }
}
    footer{
        h4{
        font-size: 20px;
    }
}
    section{
        width: 100%;
        margin-left: 0;
        h2{
            text-align: center;
            margin-left: 0px;
            font-size: 40px;
        }
        .Entrée, .Plat, .Dessert{
            width: 100%;
            margin-right: 0px;
            
        .Titre{
            width: 100%;
        h3{
            font-size: 20px;
            margin-left: -20%;
            
        }
    }
        }
    
        .Plat{
            width: 100%;
            .description{
                margin-left: -5%;
            }
        }
        .description{
            p{
                width: 80%;
                margin-left: 5%;
                font-size: 10px;
            }
        }
        .prix{
            p{
                margin-top: 10%;
                font-size: 15px;
            }
        }
        .Dessert{
            width: 100%;
            margin-right: 0;
        }
}
    }
