a:link 
{ 
text-decoration:none; 
} 
/*En tête*/
header{
    width: 100%;
    height: 200px;
    background-color: #579C87;
    h1{
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 60px;
        text-align: center;
        margin: auto;
        padding-top: 70px;

    } 
}
/*Pied de page*/
footer{
    width: 100%;
    height: 100px;
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    h3{
        display: block;
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        padding-top: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }
}
body{
    background-color: #fcdfdb;
    margin: 0;
}
/*Section principale avec titre du menu 1*/
section{
    margin-bottom: 150px;
    width: 90%;
    justify-content: center;
    margin-left: 70px;

.fa-music{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(right, #f39c7d, #f1585d, #f15c61)

}
h2{
    font-family: 'Devonshire',sans-serif;
    font-size: 5rem;
    color: #3d1319;
    text-align: center;
    margin: auto;
}
}
/*Mise en page des différents articles: titres et images côtés*/
.Entrée, .Plat, .Dessert{
    width: 80%;
    margin-bottom: 20px;
    margin-left: 40px;
}
.Titre{
    width: 100%;
    display: inline-flex;
    margin-top: 50px;
    justify-content: space-around;
    margin-bottom: 30px;

    .menua1{
        transform: scale(1.6, 1);
        transform-origin: left;
        margin-right: 165px;
        margin-top: 10px;
        -webkit-transform: scale(1.6, 1);
        -moz-transform: scale(1.6, 1);
        -ms-transform: scale(1.6, 1);
        -o-transform: scale(1.6, 1);

        
}
    .menua2{
        margin-top: 10px;
        transform: scale(1.6,0.7);
        transform-origin: left;
        -webkit-transform: scale(1.6,0.7);
        -moz-transform: scale(1.6,0.7);
        -ms-transform: scale(1.6,0.7);
        -o-transform: scale(1.6,0.7);
}

    h3{
        display: block;
        font-family: 'Architects Daughter', cursive;
        font-size: 2rem;
        text-align: center;
        margin: auto;
    }
}
/*Corps des articles: même configuration*/
.intitule{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

    .description{
        display: block;
        font-family: 'Architects Daughter', cursive;
        font-size: 30px;
        color: #3d1319;

    }
    .prix{
        display: block;
        font-family: 'Architects Daughter', cursive;
        font-size: 30px;
        font-weight: bold;
        color: #3d1319;
        position: absolute;
        right: 120px;

    
    }
/* Bas de page menu1 avec la note de musique*/
    h4{
        display: inline-flex;
        font-family: 'Devonshire', sans-serif;
        font-size: 3rem;
        color: #3d1319;
        width: 60%;
        text-align: center;
        margin: auto;

    .fa-music {
        display: block;
        font-size: 4rem;
        margin-top: 5px;
        margin-right: 15px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient (right, #f39c7d, #f1585d, #f15c61);
}
    }
