a:link 
{ 
text-decoration:none; 
} 
body{
    margin: 0;
}
/* Mise en page de l'en-tête et du titre du site */

header{
    width: 100%;
    height: 200px;
    background-color: #579C87;
    margin:0;
    h1{
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 60px;
        text-align: center;
        margin: auto;
        padding-top: 70px;

    } 
}
/* Bouton en bas de page*/
aside{
    width: 35%;
    height: 70px;
    background-color: #579C87;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 150px;
    p{
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 40px;
        padding-top: 10px;
}
    }
          span{
            width: 20px;
            height: 20px;
            margin: 0 5px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: inline-block;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transition: 3000ms;
            -webkit-transition: 3000ms;
            -moz-transition: 3000ms;
            -ms-transition: 3000ms;
            -o-transition: 3000ms;
}
/* Pied de page avec deux "boutons"*/
footer{
    width: 100%;
    height: 100px;
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    h3{
        display: block;
        color: #e5c54f;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        padding-top: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }
}
/* Première ligne d'affichage des menus (2menus)*/
.Article1{
    width: 80%;
    align-items: center;
    margin: auto;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 150px;
    .Menua{
        display: block;
        width: 400px;
        height: 550px;
        background-color: #fcdfdb;
        text-align: center;
        .fa-music{
            margin-top: 120px;
            font-size: 3rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(right, #f6936e, #f1585d, #f15c61)
        }
        h2{
            font-family: 'Devonshire', sans-serif;
            font-size: 2rem;
            color: #3d1319;
        }
        h3{
            font-family: 'Averia Gruesa Libre', sans-serif;
            font-size: 3rem;
            color: #3d1319;
        }
    }
    .Menub{
        display: block;
        width: 400px;
        height: 550px;
        background-color: #fff5fe;
        text-align: center;
        h2{
            margin-top: 190px;
            font-family: 'Croissant One', cursive;
            font-size: 1.5rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(left,#e2943f, #bc7b9c, #905cff);
        }
        h3{
            font-family: 'Roboto Slab', 'serif';
            font-size: 2rem;
            color: #c77310;
        }
    
    }
}
/* Deuxième ligne d'affichage des menus (2menus)*/
.Article2{
    width: 80%;
    align-items: center;
    margin: auto;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 150px;
    .Menuc{
        display: block;
        width: 400px;
        height: 550px;
        background-color: #f9F9F9;
        text-align: center;
        h2{
            margin-top: 190px;
            font-family: 'Dancing Script', cursive;
            font-size: 2rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(left,#3354e3, #2e7bf1, #4da9fb);
        }
        h3{
            font-family: 'Shadows Into Light', cursive;
            font-size: 3rem;
            color: #0082fb;
        }
    }
    .Menud{
        display: block;
        width: 400px;
        height: 550px;
        background-color: #fdfffd;
        text-align: center;
        h2{
        margin-top: 190px;
        font-family: 'Kaushan Script', cursive;
        font-size: 2rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left,#479c3e, #8fcf73, #c2ff87);
        }
    h3{
        font-family: 'Shadows Into Light', cursive; 
        font-size: 3rem;
        color: #7cc463;
    }

}
}
